#container{
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;
    margin-right: 20px;
    &.seleccionado::before{
        position:absolute;
        content: "";
        width: calc(100% + 8px);
        height: 120%;
        left: -4px;
        background-color: rgb(235, 104, 104);
        z-index: -1;
        border-radius: 5px;
    }
}

#flecha{
    position: absolute;
    height: 20px;
    padding: 0 10px;
}

#tarjeta{
    display: flex;
    align-items: center;
    background-color: #fceab8;
    border-radius: 25px 5px 5px 25px;
    width: 90%;
    font-size: larger;
    padding-left: 5px;
    margin-left: 40px;
    gap: 1rem;
    div{
        border-radius: 50%;
        height: 25px;
        aspect-ratio: 1;
        background-color: rgb(0, 0, 0, 0.125);
    }
}

img{
    max-height: 45px;
}