<div id="container">
    <div class="area">
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
    </div>
    <div class="area">
        <p><span class="etiqueta">Tipo:</span><span class="Tipo" *ngFor="let tipo of pokemon?.types">{{tipo.type.name}}</span></p>
        <p><span class="etiqueta">Peso en kg:</span>{{pokemon?.weight}}</p>
        <p><span class="etiqueta">Abilidad:</span><span class="Abilidad" *ngFor="let abilidad of pokemon?.abilities">{{abilidad.ability.name}}</span></p>
    </div>
    <div class="area">
        <div id="descriptionContainer">
            <div></div>
            <p>{{description}}</p>
        </div>
    </div>
</div>