#container{
    border: 3px solid #c0c2c4;
    outline: 9px solid #718685;
    max-width: 500px;
    margin-left: 100px;
    aspect-ratio: 1;
    border-radius: 25px;

   //desde el pixel 15 hasta el 30
    background: repeating-linear-gradient(
        to bottom,
        #c8cbcf,
        #c4c8cc 15px,
        #c7cdd2 15px,
        #d0d4d7 25px, 
    );
    img{
        width: 100%;
        image-rendering: pixelated;
    }
}